body {
  font-family: Arial, Helvetica, sans-serif;
}

.start-btn {
  display: block;
  background-color: blue;
  color: white;
  border-radius: 25px;
  padding: 20px;
  width: 150px;
  font-size: 17px;
  margin: 50px auto;
}

.options {
  display: block;
  background-color: pink;
  color: white;
  border-radius: 25px;
  padding: 20px;
  width: 150px;
  font-size: 17px;
  display: block;
  margin-left: 30%;
  margin-right: 70%;
}

.options:hover {
  background-color: purple;
}

.score-container {
  text-align: center;
}

.homepage-container {
  text-align: center;
}

.score-btn {
  background-color: pink;
  color: white;
  border-radius: 25px;
  padding: 20px;
  width: 150px;
  font-size: 17px;
}

#score-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.entry {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
